<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Magnification (off) -->
	<key>magnification</key>
	<integer>0</integer>
		
	<!-- Position (bottom) -->
	<key>orientation</key>
	<string>bottom</string>
	<key>pinning</key>
	<string>middle</string>
	
	<!-- Minimize windows using (Genie effect) -->
	<key>mineffect</key>
	<string>suck</string>
	
	<!-- Minimize windows into application icon (no) -->
	<key>minimize-to-application</key>
	<false />
		
	<!-- Automatically hide and show the dock (no) -->
	<key>autohide</key>
	<false />
	
	<!-- Show indicator lights for applications (yes) -->
	<key>show-process-indicators</key>
	<true />
	
	<!-- Show hidden applications as translucent (yes) -->
	<key>showHidden</key>
	<true />
	
	<!-- Show Dashboard as a Space (no) -->
	<key>dashboard-in-overlay</key>
	<true />
	
	<!-- Automatically rearrange Spaces based on most recent use (yes) -->
	<key>mru-spaces</key>
	<true />
	
	<!-- Group windows by application -->
	<key>expose-group-by-app</key>
	<true />
</dict>
</plist>
